.App {
  text-align: center;
}

/* Style for the H1 title */
.title {
  text-align: center;
  font-size: 36px;
  font-family: "Arial", sans-serif;
  animation: bounce 10s infinite; 
  
}

/* Style for the rose icon */
.rose-icon {
  margin-left: 10px;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(129, 93, 93);
  animation: spin 1s linear infinite; /* Rotating animation */
}

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Spin animation for the rose */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
